* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Header & Navigation */
header {
    background: #2d3436;
    color: white;
    padding: 4rem 10%;
    text-align: center;
    animation: slideDown 0.8s ease-out;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    color: #dfe6e9;
}

/* Section Styling */
section {
    padding: 3rem 10%;
    animation: fadeIn 1s ease;
}

#about{
    animation: slideUp 1s ease forwards;
    opacity: 0;
}

h2 {
    border-bottom: 2px solid #2d3436;
    display: inline-block;
    margin-bottom: 1.5rem;
    padding-bottom: 5px;
    animation: slideUp 1s ease forwards;
    opacity: 0;
}

/* Project Cards Grid */
#projects {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 55px;
    width: 100%;
}

.project-card h2{
    display: flex;
    text-align: center;
    border-bottom: 1px dashed #2d3436;
    margin-bottom: 10px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    margin-bottom: 10px;

    animation: slideUp 0.8s ease forwards;
    opacity: 0;
}

.project-card:hover {
    transform: translateY(-8px) scale(1.02);
    border: 2px solid #2d3436;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.project-card:nth-child(1) {
    animation-delay: 0.2s;
}

.project-card:nth-child(2) {
    animation-delay: 0.4s;
}

.project-card:nth-child(3) {
    animation-delay: 0.6s;
}

.project-card:nth-child(4) {
    animation-delay: 0.8s;
}

.project-card:nth-child(5) {
    animation-delay: 1s;
}

.project-card:nth-child(6) {
    animation-delay: 1.2s;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #0984e3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project-card a:hover {
    color: #0652DD;
    transform: translateX(5px);
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background: #dfe6e9;
    margin-top: 2rem;
}

footer a{
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}